<ion-view view-title="">
	<ion-nav-title align-title="center">
        <span  class="color">Dashboard</span>
     </ion-nav-title>
    <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon color" ng-click="openMenu"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	    <button menu-toggle="right" class="button button-icon icon ion-gear-a color"></button>
	</ion-nav-buttons>
    <ion-content  class="has-header" scroll="false">
  		 <!-- <ion-list>
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Franchisee Code :</span>{{fullname}}
                  <input type="text">
                </label>
            </div>
         </ion-list> -->
        <div>
	 		<img src ="img/Banner.png" class="width100" />
	 	</div>
	 	<div class="padding dash-scroll" ng-if="detailsLength>0">
	        <div class="expandcollapse-para" ng-repeat="x in details">
	        	<div>
					<div ng-click="active2 = !active2;" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
						<div class="cursorpointer">
							<p>{{x.CustomerName}}<span class="dash-span">{{x.ID}}</span></p>
							<div class="UPARROW icon ion-chevron-up" ng-class="{'TURNUPARROW': active2, 'TURNDOWNARROW': !active2}"></div>
						</div>
					</div>
					<div ng-class="{'showdiv': active2, 'hidediv': !active2}">
						<div class="expand-collapse-content">
							<ul>
								<!-- <li>Sales Bill No: {{x.ID}}</li> -->
								<li>Contact No: <span class="span-paddLft35">{{x.CustomerPhoneNo}}</span></li>
								<li>Battery Serail No: {{x.batterySerialNo}}</li>
								<li>Product Code: <span class="span-paddLft22">{{x.productCode}}</span></li>
						    </ul>
						   
						</div>							
					</div>
				</div>
			</div>
		</div>
		<div ng-if="detailsLength==0" class="dash-noRecrd">No Records Found
				</div>
    </ion-content>
</ion-view>