<ion-view hide-nav-bar="true" view-title="Login" name="login-view">
  <ion-content class="padding bg-color login-bg-img" scroll="true">
      <div>
          <img src ="img/logo.png" class="login-Img" />
      </div>
      <div class="margin20">
       
        <div class=" ">
             <label class="item item-input login-btn">LOGIN</label>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="loginData.fullname">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="loginData.password">
            </label>
            <label class="item item-input padding20">
              
            </label>
            <!-- <button class="button button-block button-calm" ng-click="dologin()">Login</button> -->
        </div>
          <img src ="img/login btn.png" class="login-btn-img" ng-click="dologin()"/>
      </div> 
      
  </ion-content>
  
</ion-view>
