<ion-view view-title="Detail">
    <ion-nav-title align-title="center">
        <span  class="color">Sales Bill</span>
     </ion-nav-title>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon color" ng-click="openMenu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-gear-a color"></button>
    </ion-nav-buttons>
    <div ng-form="myForm">
  <ion-content padding="'true'" class="has-header" scroll="true">
    <ion-list>
        <div ng-hide="IsVisibled">
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Retailer Name :</span>{{fullname}}
                  <input type="text">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Retailer Code :</span>{{RetailerCode}}
                  <input type="text">
                </label>
            </div>
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Battery Serail No :</span>{{battery}}
                  <input type="text" ng-model="batterySerialNo">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Teritary Sales Entry Date :</span>{{TeritarySalesEntryDt}}
                  <input type="text">
                </label>
            </div>
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Date Of Sale :</span>{{barcoderesults.dt | date:'dd-MM-yyyy'}}
                  <input type="text">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Product Code :</span>{{ProductCode}}
                  <input type="text" ng-model="productCode">
                </label>
            </div>
            <div class="">
                <label class="item item-input">
                  <span class="color-red">*</span>
                  <span class="input-label">Customer Name :</span>
                  <input type="text" ng-model="user.CustomerName" autofocus="autofocus" required="true">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Customer Phone No :</span>
                  <input type="text" ng-model="user.CustomerPhoneNo" maxlength="10">
                </label>
            </div>
            <div class="padding">
                <label class="padding"></label>
            </div>
            <!-- <button class="button button-icon icon  ion-chevron-right" ng-click="ShowHide()"></button> -->
        </div>
        <div ng-show = "IsVisible">
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Franchisee Code :</span>{{FranchiseeCode}}
                  <input type="text" autofocus="autofocus">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Franchisee Name :</span>{{FranchiseeName}}
                  <input type="text" >
                </label>
            </div>
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Vehicle/Invertor Model :</span>
                  <input type="text" ng-model="user.vehicleModel">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Vehicle/Invertor Make :</span>
                  <input type="text" ng-model="user.vehicleMake">
                </label>
            </div>
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Vehicle Segment :</span>
                  <input type="text" ng-model="user.vehicleSegment">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Engine Type :</span>
                  <!-- <input type="text" ng-model="user.engineType"> -->
                  <div style="display: inline-flex;">
                    <ul class="">
                      <li class="">
                        <select-box ng-Selected-Value="selectedValue" 
                              ng-Selected-Id="selectedId" 
                              ng-Item-Name="name" 
                              ng-Item-Id="id" 
                              ng-title="Select something!" 
                              ng-data="{{devList}}" 
                              ng-placeholder="nothing selected"></select-box>
                      </li>
                    </ul>
                    <span class="icon ion-chevron-down" style="float: right; padding-top: 7px;"></span>
                  </div>
                </label>
            </div>
            <div class="">
                <label class="item item-input">
                  <span class="input-label">Vehicle No :</span>
                  <input type="number" ng-model="user.vehicleNo">
                </label>
            </div>
            <div class="">
                <label class="item item-input bg-clr-whitesmoke">
                  <span class="input-label">Remarks :</span>
                  <input type="text" ng-model="user.remarks">
                </label>
            </div>
            <div class="padding">
                <label class="padding"></label>
            </div>
            <div class="padding submit-btn">
              <!-- <button type="submit" class="button button-block button-positive " ng-click="custDetail(CustomerName, CustomerPhoneNo, RetailerName, RetailerCode, vehicleModel, vehicleMake, vehicleSegment, engineType,vehicleNo, remarks, batterySerialNo, productCode)">Save</button>
              <button type="submit" class="button button-block button-positive " ng-click="custDetail()">Save</button> -->
            </div>
        </div>
        
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <div class="bar bar-footer bar-positive" ng-hide="IsVisibled">
            <button class="button icon  pull-right" ng-click="ShowHide()">Next<span class="ion-chevron-right padding"></span></button>
        </div>
        <div class="bar bar-footer bar-positive" ng-show = "IsVisible">
            <button class="button icon ion-chevron-left" ng-click="ShowHide()"><span class="padding">Preview</span></button>
            <button class="button icon  pull-right" type="submit" ng-click="custDetail()" ng-disabled="myForm.$invalid">Save
                <span class="ion-checkmark-round padding"></span>
            </button>
        </div>
    </ion-toolbar>
  </ion-footer>
  </div>
</ion-view>
