<ion-side-menus>
      
        <ion-nav-bar class="bar-positive">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
          </ion-nav-buttons>  
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-pane>
 
      <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header text-center user-logo-center">
          <!-- <img class="text-center" src ="img/amaraja.jpg" style="width: 20%; " /> -->
        </ion-header-bar>
         
        <ion-content class="has-header">
          <ion-list>
            <ion-item nav-clear menu-close ng-click="scanBarcode()">
              Scan
            </ion-item>
            <ion-item nav-clear menu-close href="#/app/browse">
              Dashboard
            </ion-item>
            <ion-item nav-clear menu-close href="#/login">
              Logout
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
  </ion-side-menus>