<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">
  <ion-side-menus>
      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
          </ion-nav-buttons>  
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-pane>
 
      <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header text-center user-logo-center">
          <img class="lft-menuLogo" src ="img/menuLogo.png" style=" " />
        </ion-header-bar>
         
        <ion-content class="has-header">
          <div ng-controller="mainPageCtrl">
            <div nav-clear menu-close class="scanBtn" ng-click="scanBarcode()">
              Sales Bill
            </div>
            <!-- <ion-item nav-clear menu-close href="#/mainPage">
              Main Page
            </ion-item> -->
            <div nav-clear menu-close class="scanBtn" ng-click="logout()">
              Logout
            </div>
          </div>
        </ion-content>
      </ion-side-menu>
  </ion-side-menus>
   
  </body>
</html>
