/* Empty. Add your own CSS if you like */
.brdr-btm{
	border-bottom: 1px solid #ccc !important;
}
.bg-color{
	background-color: #0784bb;
}
.bg-clr-whitesmoke{
  background-color: whitesmoke;
}
.color{
	color: #0784bb;
}
.color-red{
  color: red;
}
.width100{
	width: 100%;
}
.login-Img{
	margin-top: 35%;
    margin-bottom: 9%;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    width: 40%;
}
.login-btn{
	text-align: center;
    display: block;
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 18px;
    background-color: #6fb8d8;
}
.login-btn-img{
	    /* margin-left: auto; */
    /* margin-right: auto; */
    display: inline-block;
    width: 20%;
    position: absolute;
    text-align: center;
    margin: 0px 33%;
    transform: translateY(-30%);
    z-index: 1111;
}
..login-btn-img:hover{
	width: 15% !important;
}
/*.login-bg-img{
	background-image: url(../img/logo.png);
	width: 100%;
}*/
.scanBtn{
	position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #999;
    font-size: 16px;
}
.scanBtn:hover{
  color: #fff;
  background-color: #0784bb;
}
.button:hover {
    color: #0784bb;
    text-decoration: none;
}
.expandcollapse-para{
  font-size: 16px;
  font-weight: normal;
  margin: 5px;
  color: #999;
  /*padding: 10px 15px 0 15px;*/
  border: 1px solid #ccc;
}
.expandcollapse-heading-collapsed {
  cursor: pointer;
  position: relative;
  background-color: #0784bb;
  color: #fff;
  padding: 8px 7px 2px 9px;
  font-size: 16px;  
}
.expandcollapse-heading-expanded{
  position: relative;
  background-color: #fff;
  padding: 10px 15px 2px 15px;
  font-size: 16px;  
}
.cursorpointer{
	cursor: pointer;
}
.expand-collapse-content {
	border-top: 1px solid #e8e8e8;
  color: #999;
  font: 600 14px "Open Sans",sans-serif;
}
.expand-collapse-content  li{
	padding: 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.expand-collapse-content li:active {
  background-color: #999;
  color: #fff;
  font: 600 14px "Open Sans",sans-serif;
}
.UPARROW{
  float: right;
  margin: -32px 20px;
  transition: .5s linear;
}
.TURNDOWNARROW{
  float: right;
  margin: -31px 13px;
  transform: rotate(180deg);
  transition: .5s linear;
  width: 8% !important;
  color: #0784bb;
}
.hidediv {
  height:0;
  transition: height 1s ease;
  overflow:hidden;
  position:relative;
}
.showdiv {
  height:auto;
  transition:height 1s ease !important;
  overflow:hidden;
  position:relative;
}
.submit-btn{
	width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.padding20{
	padding: 20px !important;
	color: #999;
    font-size: 16px;
}
.margin20{
	margin: 20px;
}
.dash-span{
	float: right;
    padding-right: 27%;
}
.dash-noRecrd{
    text-align: center;
    color: red;
}
.span-paddLft35{
  padding-left: 35px;
}
.span-paddLft22{
  padding-left: 22px;
}
.dash-scroll{
  height: 340px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.lft-menuLogo{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
/*.bar-positive .button:hover {
    color: #0c63ee;
    background-color: #fff;
    text-decoration: none;
}*/
